
.formGroup{
    padding-top: 35px;
}

.formLabel{
    font-weight: 600;
}
.formControl {
    height: 150px !important
}

.responseCol{
    padding-top: 40px;
}

.card{
    width: auto;
    height: 150px
}

.success{
    color: #22cc0b
}
.error{
    color: red
}